/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for Mobile in portrait orientation*/
@media only screen and (max-width: 649px) {
    
    .about_container {
        margin-top: 10%;
        height: 90vh;
        

    }

    .about_title {
        font-size: 5vw;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        color: #EEEEEE;
    }
    

    .about_image{
        width:50%;
        margin-left:25%;
        filter: drop-shadow(0px 0px 3px #ffffff);
        margin-top:5%;
    }

    .about_text {
        font-size: 3vw;
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        justify-content: center;
        width:90%;
        margin-left:5%;
        color: #EEEEEE;
        padding:0% 2% 0% 2%;
        margin-top:4%;
        
    }

    .hello_text{
        color: #76ABAE;
        font-size:4vw;
        font-weight:700;
    }

}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for Mobile in landscape orientation */
@media only screen and (min-width:650px) and (max-width:993px) {

    .about_container {
        margin-top: 10%;
        height: 90vh;
        margin-left: 6%;

    }

    .about_title {
        font-size: 2vw;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        color: #EEEEEE;
    }
    .about_grid_container{
        display:grid;
        grid-template-columns: 30% 70%;
        width:90%;
        margin-left:8%;
    }

    .about_image{
        width:100%;
        filter: drop-shadow(0px 0px 3px #ffffff);
    }

    .about_text {
        font-size: 1.2vw;
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        justify-content: center;
        color: #EEEEEE;
        margin-top:0%;
        padding:0% 2% 0% 2%;
        
    }

    .hello_text{
        color: #76ABAE;
        font-size:1.5vw;
        font-weight:700;
    }

}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for Desktop and Larger Devices */
@media only screen and (min-width:992px) {

    .about_container {
        margin-top: 10%;
        height: 90vh;
        margin-left: 6%;

    }

    .about_title {
        font-size: 2vw;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        color: #EEEEEE;
    }
    .about_grid_container{
        display:grid;
        grid-template-columns: 30% 70%;
        width:90%;
        margin-left:8%;
    }

    .about_image{
        width:100%;
        filter: drop-shadow(0px 0px 3px #ffffff);
    }

    .about_text {
        font-size: 1.2vw;
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        justify-content: center;
        color: #EEEEEE;
        margin-top:0%;
        padding:0% 2% 0% 2%;
        
    }

    .hello_text{
        color: #76ABAE;
        font-size:1.5vw;
        font-weight:700;
    }




}