/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for Mobile in portrait orientation*/
@media only screen and (max-width: 649px) {}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for Mobile in landscape orientation */
@media only screen and (min-width:650px) and (max-width:993px) and (orientation: landscape) {}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for Desktop and Larger Devices */
@media only screen and (min-width:992px) {

    .contact_container {
        margin-top: 8%;
        height: 100vh;
    }

    .about_line_1 {
        width: 10%;
        height: 0.3%;
        background-color: black;
        position: absolute;
        margin-top: -1%;
        left: 45%;
    }

    .about_line_2 {
        width: 6%;
        height: 0.3%;
        background-color: black;
        position: absolute;
        margin-top: -0.5%;
        left: 47%;
    }

    .contact_title {
        font-size: 2vw;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
    }

    .contact_grid {
        display:grid;
        grid-template-columns: 70% 30%;
        column-gap: 5%;;
    }

    .contact_logo {
        width:10%;
    }

    .contact_socials{

        margin-top:25%;
    }

    .contact_social_text{
        font-family: "Open Sans", sans-serif;
        font-weight:500;
        margin-bottom:20%;
        margin-top:-1%;
        margin-left:1%;
    }

    .socials_individual{
        text-decoration: none;
        color:black;
    }
    .socials_individual:hover {
        color:#6e6e6e;
    }


    .contact_form {
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;  
        padding:2%;
        
    }

    .contact_name {
        width: 48%;
        border: none;
        border-bottom: solid #858585;
        font-family: "Open Sans", sans-serif;
        font-size:1.2vw;
    }

    .contact_email {
        width: 48%;
        margin-left: 1%;
        border: none;
        border-bottom: solid #858585;
        font-family: "Open Sans", sans-serif;
        font-size:1.2vw;
    }

    .contact_message {
        margin-top: 1%;
        height: 40vh;
        width: 96%;
        border: none;
        border-bottom: solid #858585;
        font-family: "Open Sans", sans-serif;
        font-size:1.2vw;
        overflow:hidden;
        display:block;
        box-sizing: border-box;
        resize: none;

    }

    .contact_name:focus {
        border: none;
    }

    .contact_submit {
        position: absolute;
        margin-top: 5%;
        left: 32%;
        padding-top: 1%;
        padding-bottom: 1%;
        width: 10%;
        border: solid black;
        outline: none;
        background-color: #111111;
        color: #eee;
        border-radius: 7px;
        font-weight: 500;
        font-size: 1vw;
        cursor: pointer;
        transition: all 0.25s ease-out;
        font-family: "Open Sans", sans-serif;
    }

    .contact_submit:hover {
        transform: translateY(-3px);
    }




}