/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for Mobile in portrait orientation*/
@media only screen and (max-width: 649px) {
    .index_container {
        height: 120vw;
        background: rgb(226, 226, 226);
        filter: drop-shadow(0px 0px 5px #000000);
       
    }
    
    .index_image_me {
        width: 50%;
        position: absolute;
        margin-top:2%;
        left: 2%;
        filter: drop-shadow(0px 0px 5px #000000);

    }

    .socials_index_linked{
        filter: drop-shadow(0px 0px 5px #000000);
        position:absolute;
        left:0%;
        width:15%;
        margin-top:42%;
        transform: rotate(-15deg);
        transition: all 0.25s ease-in-out;
    }
    .socials_index_linked:hover {
        transform: rotate(15deg);     
    }

    .socials_index_github {
        filter: drop-shadow(0px 0px 5px #000000);
        position:absolute;
        left:39%;
        width:15%;
        margin-top:42%;
        transform: rotate(15deg);
        transition: all 0.25s ease-in-out;
    }

    .socials_index_github:hover{
        transform: rotate(-15deg);     
    }

    .full_name_text {
        position: absolute;
        margin-top: 60%;
        left: 4%;
        font-family: "Open Sans", sans-serif;
        color: #000000;
        font-size: 5vw;
        border-right: solid 2px black;

        display: inline-block;
        letter-spacing: 0.01em;
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        animation:
            type 2s steps(21) 1s forwards,
            blink 0.5s steps(1) infinite;
    }

    @keyframes type {
        to {
            width: 17ch
        }
    }

    @keyframes blink {
        from {
            border-color: transparent
        }

        50% {
            border-color: black
        }

        to {
            border-color: transparent
        }
    }

    .job_role_text {
        position: absolute;
        margin-top: 67%;
        left: 4%;
        font-size: 3.5vw;
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #000000;
    }

    .full_stop_text {
        color: rgb(138, 138, 138);
    }

    .index_hire_me_button {
        position: absolute;
        margin-top: 80%;
        left: 4%;
        padding-top: 2%;
        padding-bottom: 2%;
        width: 45%;
        border: solid black;
        outline: none;
        background-color: #111111;
        color: #eee;
        border-radius: 7px;
        font-weight: 500;
        font-size: 4vw;
        cursor: pointer;
        transition: all 0.25s ease-out;
        font-family: "Open Sans", sans-serif;
    }

    .index_hire_me_button:hover {
        transform: translateY(-3px);
    }

    .index_explore_more_button {
        position: absolute;
        margin-top: 95%;
        left: 4%;
        padding-top: 2%;
        padding-bottom: 2%;
        width: 45%;
        border: solid black;
        outline: none;
        background-color: none;
        color: #111111;
        border-radius: 7px;
        font-weight: 500;
        font-size: 4vw;
        cursor: pointer;
        transition: all 0.25s ease-out;
        font-family: "Open Sans", sans-serif;
    }

    .index_explore_more_button:hover {
        transform: translateY(-3px);
    }

    .navbar_container {
        position: absolute;
        top: -4%;
        right: 5%;
    }

    .navbar_list {
        list-style: none;

    }

    .navbar_item {
        cursor: pointer;
        font-weight: 500;
        font-size: 5vw;
        font-family: "Open Sans", sans-serif;
        transition: all 0.25s ease-in-out;
        margin-top: 15vw;

    }


    


}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for Mobile in landscape orientation */
@media only screen and (min-width:650px) and (max-width:993px) {

    .index_container { 
        background: linear-gradient(90deg, rgb(34, 40, 49) 55%, rgb(238, 238, 238) 55%);
        height:100vh;
    }

    .index_image_me {
        width: 25%;
        position: absolute;
        bottom: 25%;
        right: 10%;
        filter: drop-shadow(0px 0px 14px #000000);
        
    }


    .full_name_text {
        position: absolute;
        top:25%;
        left: 15%;
        font-family: "Open Sans", sans-serif;
        color: #EEEEEE;
        font-size: 3vw;
        border-right: solid 2px black;
        display: inline-block;
        letter-spacing: 0.01em;
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        animation:
            type 2s steps(21) 1s forwards,
            blink 0.5s steps(1) infinite;

    }

    @keyframes type {
        to {
            width: 17ch
        }
    }

    @keyframes blink {
        from {
            border-color: transparent
        }

        50% {
            border-color: black
        }

        to {
            border-color: transparent
        }
    }

    .job_role_text {
        position: absolute;
        top:34%;
        left: 15.1%;
        font-size: 1.5vw;
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #EEEEEE;
        
    }

    .full_stop_text {
        color: rgb(138, 138, 138);
    }

    .index_hire_me_button {
        position: absolute;
        top:42%;
        left: 15%;
        padding-top: 1%;
        padding-bottom: 1%;
        width: 10%;
        border: solid 1px #EEEEEE;
        outline: none;
        background-color: #31363F;
        color: #eee;
        border-radius: 7px;
        font-weight: 500;
        font-size: 1vw;
        cursor: pointer;
        transition: all 0.25s ease-out;
        font-family: "Open Sans", sans-serif;
    }

    .index_hire_me_button:hover {
        transform: translateY(-3px);
    }

    .index_explore_more_button {
        position: absolute;
        top:42%;
        left: 26%;
        padding-top: 1%;
        padding-bottom: 1%;
        width: 10%;
        border: solid 1px #EEEEEE;
        outline: none;
        background-color: #76ABAE;
        color: #EEEEEE;
        border-radius: 7px;
        font-weight: 500;
        font-size: 1vw;
        cursor: pointer;
        transition: all 0.25s ease-out;
        font-family: "Open Sans", sans-serif;
    }

    .index_explore_more_button:hover {
        transform: translateY(-3px);
    }

    
    .socials_index_linked{
        filter: drop-shadow(0px 0px 5px #000000);
        position:absolute;
        right:28%;
        width:10%;
        top:60%;
        transform: rotate(-15deg);
        transition: all 0.25s ease-in-out;
    }
    .socials_index_linked:hover {
        transform: rotate(15deg);     
    }

    .socials_index_github {
        filter: drop-shadow(0px 0px 5px #000000);
        position:absolute;
        right:6%;
        width:10%;
        top:60%;
        transform: rotate(15deg);
        transition: all 0.25s ease-in-out;
    }

    .socials_index_github:hover{
        transform: rotate(-15deg);     
    }
}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for Desktop and Larger Devices */
@media only screen and (min-width:992px) {

    .index_container { 
        background: linear-gradient(90deg, rgb(34, 40, 49) 55%, rgb(238, 238, 238) 55%);
        height:100vh;
    }

    .index_image_me {
        width: 25%;
        position: absolute;
        bottom: 25%;
        right: 10%;
        filter: drop-shadow(0px 0px 14px #000000);
        
    }


    .full_name_text {
        position: absolute;
        top:25%;
        left: 15%;
        font-family: "Open Sans", sans-serif;
        color: #EEEEEE;
        font-size: 3vw;
        border-right: solid 2px black;
        display: inline-block;
        letter-spacing: 0.01em;
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        animation:
            type 2s steps(21) 1s forwards,
            blink 0.5s steps(1) infinite;

    }

    @keyframes type {
        to {
            width: 17ch
        }
    }

    @keyframes blink {
        from {
            border-color: transparent
        }

        50% {
            border-color: black
        }

        to {
            border-color: transparent
        }
    }

    .job_role_text {
        position: absolute;
        top:34%;
        left: 15.1%;
        font-size: 1.5vw;
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #EEEEEE;
        
    }

    .full_stop_text {
        color: rgb(138, 138, 138);
    }

    .index_hire_me_button {
        position: absolute;
        top:42%;
        left: 15%;
        padding-top: 1%;
        padding-bottom: 1%;
        width: 10%;
        border: solid 1px #EEEEEE;
        outline: none;
        background-color: #31363F;
        color: #eee;
        border-radius: 7px;
        font-weight: 500;
        font-size: 1vw;
        cursor: pointer;
        transition: all 0.25s ease-out;
        font-family: "Open Sans", sans-serif;
    }

    .index_hire_me_button:hover {
        transform: translateY(-3px);
    }

    .index_explore_more_button {
        position: absolute;
        top:42%;
        left: 26%;
        padding-top: 1%;
        padding-bottom: 1%;
        width: 10%;
        border: solid 1px #EEEEEE;
        outline: none;
        background-color: #76ABAE;
        color: #EEEEEE;
        border-radius: 7px;
        font-weight: 500;
        font-size: 1vw;
        cursor: pointer;
        transition: all 0.25s ease-out;
        font-family: "Open Sans", sans-serif;
    }

    .index_explore_more_button:hover {
        transform: translateY(-3px);
    }

    
    .socials_index_linked{
        filter: drop-shadow(0px 0px 5px #000000);
        position:absolute;
        right:28%;
        width:10%;
        top:60%;
        transform: rotate(-15deg);
        transition: all 0.25s ease-in-out;
    }
    .socials_index_linked:hover {
        transform: rotate(15deg);     
    }

    .socials_index_github {
        filter: drop-shadow(0px 0px 5px #000000);
        position:absolute;
        right:6%;
        width:10%;
        top:60%;
        transform: rotate(15deg);
        transition: all 0.25s ease-in-out;
    }

    .socials_index_github:hover{
        transform: rotate(-15deg);     
    }

}