/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for Mobile in portrait orientation*/
@media only screen and (max-width: 649px) {
  .portfolio_container {
    margin-top: 20%;
    height: 300vw;
  }

  .portfolio_title {
    font-size: 8vw;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
  }

  .about_line_1 {
    width: 40%;
    height: 0.5%;
    background-color: black;
    position: absolute;
    margin-top: -5%;
    left: 30%;

  }

  .about_line_2 {
    width: 20%;
    height: 0.5%;
    background-color: black;
    position: absolute;
    margin-top: -2.5%;
    left: 40%;
  }

  .portfolio_grid {
    margin-top: 20%;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    width: 80%;
    margin-left: 9%;
    row-gap:5%;
  }

  .portfolio_mini_grid {
    display: grid;
    transition: all 0.25s ease-out;
    cursor:pointer;
    
  }

  .portfolio_mini_grid:hover {
    transform: translateY(-20px);
  }

  .portfolio_top {
    background-color: rgb(231, 231, 231);
    border-top-left-radius:10px;
    border-top-right-radius:10px;
  }

  .portfolio_bottom {
    background-color: rgb(246, 246, 246);
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
  }

  .portfolio_image {
    width: 50%;
    margin-left: 25%;
  }

  .portfolio_text {
    text-align: left;
    margin-left:10%;
    font-family: "Open Sans", sans-serif;
    font-size: 5vw;
    font-weight: 800;
    color:rgb(18, 18, 18);
  }

  .portfolio_text_2 {
    text-align: left;
    margin-left:10%;
    font-family: "Open Sans", sans-serif;
    font-size: 4vw;
    font-weight: 500;
    color:rgb(171, 29, 206);
    margin-top:-5%;
  }
}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for Mobile in landscape orientation */
@media only screen and (min-width:650px) and (max-width:993px) {
  .portfolio_container {
    margin-top: 15%;
    height: 70vh;
  }

  .portfolio_title {
    font-size: 2vw;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
  }

  .about_line_1 {
    width: 10%;
    height: 0.3%;
    background-color: black;
    position: absolute;
    margin-top: -1%;
    left: 45%;
  }

  .about_line_2 {
    width: 6%;
    height: 0.3%;
    background-color: black;
    position: absolute;
    margin-top: -0.5%;
    left: 47%;
  }

  .portfolio_grid {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 80%;
    margin-left: 9%;
    column-gap:1%;
    row-gap:5%;
  }

  .portfolio_mini_grid {
    display: grid;
    transition: all 0.25s ease-out;
    cursor:pointer;
    
  }

  .portfolio_mini_grid:hover {
    transform: translateY(-20px);
  }

  .portfolio_top {
    background-color: rgb(231, 231, 231);
    border-top-left-radius:10px;
    border-top-right-radius:10px;
  }

  .portfolio_bottom {
    background-color: rgb(246, 246, 246);
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
  }

  .portfolio_image {
    width: 50%;
    margin-left: 25%;
  }

  .portfolio_text {
    text-align: left;
    margin-left:10%;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4vw;
    font-weight: 800;
    color:rgb(18, 18, 18);
  }

  .portfolio_text_2 {
    text-align: left;
    margin-left:10%;
    font-family: "Open Sans", sans-serif;
    font-size: 1vw;
    font-weight: 500;
    color:rgb(171, 29, 206);
    margin-top:-5%;
  }

}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for Desktop and Larger Devices */
@media only screen and (min-width:992px) {

  .portfolio_container {
    margin-top: 15%;
    height: 70vh;
  }

  .portfolio_title {
    font-size: 2vw;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
  }

  .about_line_1 {
    width: 10%;
    height: 0.3%;
    background-color: black;
    position: absolute;
    margin-top: -1%;
    left: 45%;
  }

  .about_line_2 {
    width: 6%;
    height: 0.3%;
    background-color: black;
    position: absolute;
    margin-top: -0.5%;
    left: 47%;
  }

  .portfolio_grid {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 80%;
    margin-left: 9%;
    column-gap:1%;
    row-gap:5%;
  }

  .portfolio_mini_grid {
    display: grid;
    transition: all 0.25s ease-out;
    cursor:pointer;
    
  }

  .portfolio_mini_grid:hover {
    transform: translateY(-20px);
  }

  .portfolio_top {
    background-color: rgb(231, 231, 231);
    border-top-left-radius:10px;
    border-top-right-radius:10px;
  }

  .portfolio_bottom {
    background-color: rgb(246, 246, 246);
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
  }

  .portfolio_image {
    width: 50%;
    margin-left: 25%;
  }

  .portfolio_text {
    text-align: left;
    margin-left:10%;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4vw;
    font-weight: 800;
    color:rgb(18, 18, 18);
  }

  .portfolio_text_2 {
    text-align: left;
    margin-left:10%;
    font-family: "Open Sans", sans-serif;
    font-size: 1vw;
    font-weight: 500;
    color:rgb(171, 29, 206);
    margin-top:-5%;
  }



}