/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for Mobile in portrait orientation*/
@media only screen and (max-width: 649px) {
    .portfolio_details_container{
        }
        
        .back_button {
            position: absolute;
            top:2%;
            left: 3%;
            padding-top: 1%;
            padding-bottom: 1%;
            width: 20%;
            border: solid 1px #EEEEEE;
            outline: none;
            background-color: #31363F;
            color: #eee;
            border-radius: 7px;
            font-weight: 500;
            font-size: 3vw;
            cursor: pointer;
            transition: all 0.25s ease-out;
            font-family: "Open Sans", sans-serif;
        }
    
        .back_button:hover {
            transform: translateY(-3px);
        }
    
        .p_detail_title {
            font-size: 5vw;
            margin-top:15%;
            text-align: center;
            font-weight: 700;
            color: rgb(68, 68, 68);
            color:#EEEEEE;
        }
    
        .p_detail_subtitle {
            font-size: 4vw;
            margin-top: -2%;
            text-align: center;
            font-weight: 700;
            color:#76ABAE;
        }
    
        .p_detail_subtitle:hover {
            font-size: 1.5vw;
            margin-top: -2%;
            text-align: center;
            font-weight: 700;
            color: #507b7d;
        }
    
        .p_image {
            width: 80%;
            margin-left: 10%;
            margin-top: 2%;
            filter: drop-shadow(0px 0px 5px #000000);
            border-radius: 20px;
        }
    
        .p_details_container {
            margin-left: 10%;
            margin-top:2%;
            width: 80%;
    
        }
    
        .p_details_text {
            text-align: justify;
            font-family: "Open Sans", sans-serif;
            font-size: 3vw;
            color:#EEEEEE;
        }
    
    
        .tech_stack_header {
            font-family: "Open Sans", sans-serif;
            font-size: 4vw;
            margin-top: 5%;
            text-align: center;
            text-decoration: underline;
            font-weight: 700;
            color:#EEEEEE;
        }
    
        .tech_stack_images_group {
            text-align: center;
            margin-top: -1%;
        }
    
        .tech_stack_used_image {
            margin-top: 1%;
            width: 15%;
            margin-left: 2%;
            
        }
    
        .text_link {
            color:#76ABAE;
            text-decoration: none;
    
        }
    
        .text_link:hover {
            color: #507b7d;
        }

        .back_to_top{
            cursor: pointer;
            text-align: center;
            background: linear-gradient(180deg, #222831 0%, #31363F 25%);
            font-size:4vw;
            padding:1%;
            font-family: "Open Sans", sans-serif;
            font-weight:1000;
            margin-top:5%;
        }
    
        .prev_button{
            margin-top:2%;
            margin-left:15%;
            padding-top: 0.5%;
            padding-bottom: 0.5%;
            width: 20%;
            color: #eee;
            font-weight: 500;
            font-size: 4vw;
            cursor: pointer;
            transition: all 0.25s ease-out;
            font-family: "Open Sans", sans-serif;
            border: solid 1px #EEEEEE;
            outline: none;
            background-color: #76ABAE;
            color: #EEEEEE;
            border-radius: 7px;
        }
    
        .prev_button:hover {
            transform: translateY(-3px);
        }
    
        .next_button{ 
            margin-top:2%;
            margin-left:30%;
            padding-top: 0.5%;
            padding-bottom: 0.5%;
            width: 20%;
            color: #eee;
            font-weight: 500;
            font-size: 4vw;
            cursor: pointer;
            transition: all 0.25s ease-out;
            font-family: "Open Sans", sans-serif;
            border: solid 1px #EEEEEE;
            outline: none;
            background-color: #76ABAE;
            color: #EEEEEE;
            border-radius: 7px;
        }
    
        .next_button:hover {
            transform: translateY(-3px);
        }
}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for Mobile in landscape orientation */
@media only screen and (min-width:650px) and (max-width:993px) {

    .portfolio_details_container{
        margin-left:6%;
        }
        
        .back_button {
            position: absolute;
            top:5%;
            left: 15%;
            padding-top: 1%;
            padding-bottom: 1%;
            width: 10%;
            border: solid 1px #EEEEEE;
            outline: none;
            background-color: #31363F;
            color: #eee;
            border-radius: 7px;
            font-weight: 500;
            font-size: 1vw;
            cursor: pointer;
            transition: all 0.25s ease-out;
            font-family: "Open Sans", sans-serif;
        }
    
        .back_button:hover {
            transform: translateY(-3px);
        }
    
        .p_detail_title {
            font-size: 2.5vw;
            text-align: center;
            font-weight: 700;
            color: rgb(68, 68, 68);
            color:#EEEEEE;
        }
    
        .p_detail_subtitle {
            font-size: 1.5vw;
            margin-top: -2%;
            text-align: center;
            font-weight: 700;
            color:#76ABAE;
        }
    
        .p_detail_subtitle:hover {
            font-size: 1.5vw;
            margin-top: -2%;
            text-align: center;
            font-weight: 700;
            color: #507b7d;
        }
    
        .p_image {
            width: 60%;
            margin-left: 20%;
            margin-top: 2%;
            filter: drop-shadow(0px 0px 5px #000000);
            border-radius: 20px;
        }
    
        .p_details_container {
            margin-left: 20%;
            margin-top:2%;
            width: 60%;
    
        }
    
        .p_details_text {
            text-align: justify;
            font-family: "Open Sans", sans-serif;
            font-size: 1vw;
            color:#EEEEEE;
        }
    
    
        .tech_stack_header {
            font-family: "Open Sans", sans-serif;
            font-size: 1.2vw;
            margin-top: 5%;
            text-align: center;
            text-decoration: underline;
            font-weight: 700;
            color:#EEEEEE;
        }
    
        .tech_stack_images_group {
            text-align: center;
            margin-top: -1%;
        }
    
        .tech_stack_used_image {
            margin-top: 1%;
            width: 5%;
            margin-left: 2%;
            
        }
    
        .text_link {
            color:#76ABAE;
            text-decoration: none;
    
        }
    
        .text_link:hover {
            color: #507b7d;
        }
        .back_to_top{
            cursor: pointer;
            text-align: center;
            background: linear-gradient(180deg, #222831 0%, #31363F 25%);
            font-size:0.8vw;
            padding:1%;
            font-family: "Open Sans", sans-serif;
            font-weight:1000;
            margin-top:5%;
        }
    
        .prev_button{
            margin-top:2%;
            margin-left:30%;
            padding-top: 0.5%;
            padding-bottom: 0.5%;
            width: 5%;
            color: #eee;
            font-weight: 500;
            font-size: 0.8vw;
            cursor: pointer;
            transition: all 0.25s ease-out;
            font-family: "Open Sans", sans-serif;
            border: solid 1px #EEEEEE;
            outline: none;
            background-color: #76ABAE;
            color: #EEEEEE;
            border-radius: 7px;
        }
    
        .prev_button:hover {
            transform: translateY(-3px);
        }
    
        .next_button{ 
            margin-top:2%;
            margin-left:30%;
            padding-top: 0.5%;
            padding-bottom: 0.5%;
            width: 5%;
            color: #eee;
            font-weight: 500;
            font-size: 0.8vw;
            cursor: pointer;
            transition: all 0.25s ease-out;
            font-family: "Open Sans", sans-serif;
            border: solid 1px #EEEEEE;
            outline: none;
            background-color: #76ABAE;
            color: #EEEEEE;
            border-radius: 7px;
        }
    
        .next_button:hover {
            transform: translateY(-3px);
        }
}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for Desktop and Larger Devices */
@media only screen and (min-width:992px) {
    .portfolio_details_container{
    margin-left:6%;
    }
    
    .back_button {
        position: absolute;
        top:5%;
        left: 15%;
        padding-top: 1%;
        padding-bottom: 1%;
        width: 10%;
        border: solid 1px #EEEEEE;
        outline: none;
        background-color: #31363F;
        color: #eee;
        border-radius: 7px;
        font-weight: 500;
        font-size: 1vw;
        cursor: pointer;
        transition: all 0.25s ease-out;
        font-family: "Open Sans", sans-serif;
    }

    .back_button:hover {
        transform: translateY(-3px);
    }

    .p_detail_title {
        font-size: 2.5vw;
        text-align: center;
        font-weight: 700;
        color: rgb(68, 68, 68);
        color:#EEEEEE;
    }

    .p_detail_subtitle {
        font-size: 1.5vw;
        margin-top: -2%;
        text-align: center;
        font-weight: 700;
        color:#76ABAE;
    }

    .p_detail_subtitle:hover {
        font-size: 1.5vw;
        margin-top: -2%;
        text-align: center;
        font-weight: 700;
        color: #507b7d;
    }

    .p_image {
        width: 60%;
        margin-left: 20%;
        margin-top: 2%;
        filter: drop-shadow(0px 0px 5px #000000);
        border-radius: 20px;
    }

    .p_details_container {
        margin-left: 20%;
        margin-top:2%;
        width: 60%;

    }

    .p_details_text {
        text-align: justify;
        font-family: "Open Sans", sans-serif;
        font-size: 1vw;
        color:#EEEEEE;
    }


    .tech_stack_header {
        font-family: "Open Sans", sans-serif;
        font-size: 1.2vw;
        margin-top: 5%;
        text-align: center;
        text-decoration: underline;
        font-weight: 700;
        color:#EEEEEE;
    }

    .tech_stack_images_group {
        text-align: center;
        margin-top: -1%;
    }

    .tech_stack_used_image {
        margin-top: 1%;
        width: 5%;
        margin-left: 2%;
        
    }

    .text_link {
        color:#76ABAE;
        text-decoration: none;

    }

    .text_link:hover {
        color: #507b7d;
    }
    .back_to_top{
        cursor: pointer;
        text-align: center;
        background: linear-gradient(180deg, #222831 0%, #31363F 25%);
        font-size:0.8vw;
        padding:1%;
        font-family: "Open Sans", sans-serif;
        font-weight:1000;
        margin-top:5%;
    }

    .prev_button{
        margin-top:2%;
        margin-left:30%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        width: 5%;
        color: #eee;
        font-weight: 500;
        font-size: 0.8vw;
        cursor: pointer;
        transition: all 0.25s ease-out;
        font-family: "Open Sans", sans-serif;
        border: solid 1px #EEEEEE;
        outline: none;
        background-color: #76ABAE;
        color: #EEEEEE;
        border-radius: 7px;
    }

    .prev_button:hover {
        transform: translateY(-3px);
    }

    .next_button{ 
        margin-top:2%;
        margin-left:30%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        width: 5%;
        color: #eee;
        font-weight: 500;
        font-size: 0.8vw;
        cursor: pointer;
        transition: all 0.25s ease-out;
        font-family: "Open Sans", sans-serif;
        border: solid 1px #EEEEEE;
        outline: none;
        background-color: #76ABAE;
        color: #EEEEEE;
        border-radius: 7px;
    }

    .next_button:hover {
        transform: translateY(-3px);
    }
}