/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for Mobile in portrait orientation*/
@media only screen and (max-width: 649px) {
  .portfolio_container {
    margin-top: 15%;
    height: 270vw;
  }

  .portfolio_title {
    font-size: 8vw;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
  }

  .about_line_1{
    width:40%;
    height:0.5%;
    background-color:black;
    position:absolute;
    margin-top:-5%;
    left:30%;

}
.about_line_2{
    width:20%;
    height:0.5%;
    background-color:black;
    position:absolute;
    margin-top:-2.5%;
    left:40%;
}

  .portfolio_grid {
    margin-top: 15%;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    row-gap:5%;
    text-align:center;
  }


  .image_portfolio {
    border-image: fill 0 linear-gradient(#0001, #000);
    width: 50%;
    filter: drop-shadow(0px 0px 5px #000000); 
  }

  .portfolio_hovered{
    position:absolute;
    z-index:11;
    border-image: fill 0 linear-gradient(#0001, #000);
    margin-left:25%;
    height:22.5%;
    width:50%;
    padding-bottom:1.5%;
    transition:0.2s ease-in-out
    
  }

  .portfolio_image_text {
    color:white;
    font-size:5vw;
    font-weight:500;
    width:90%;
    margin-left:5%;
  }

  .portfolio_image_link {
    color:white;
    fill:white;
    font-size:8vw;
    border: solid 1.5px white;
    border-radius:100px;
    width:20%;
    padding:1.5%;
    position:absolute;
    bottom:-5%;
    left:5%;
    text-decoration: none;
  }
}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for Mobile in landscape orientation */
@media only screen and (min-width:650px) and (max-width:993px) {
  .portfolio_container {
    margin-top: 15%;
    height: 70vh;
  }

  .portfolio_title {
    font-size: 2vw;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
  }

  .about_line_1 {
    width: 10%;
    height: 0.3%;
    background-color: black;
    position: absolute;
    margin-top: -1%;
    left: 45%;
  }

  .about_line_2 {
    width: 6%;
    height: 0.3%;
    background-color: black;
    position: absolute;
    margin-top: -0.5%;
    left: 47%;
  }

  .portfolio_grid {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 80%;
    margin-left: 13%;
  }


  .image_portfolio {
    position: absolute;
    width: 15%;
    filter: drop-shadow(0px 0px 5px #000000);
    
  }

 
  .portfolio_hovered{
    position:absolute;
    z-index:11;
    border-image: fill 0 linear-gradient(#0001, #000);
    width:15%;
    height:auto;
    padding-bottom:1.5%;
    transition:0.2s ease-in-out
    
  }
  

  .portfolio_image_text {
    color:white;
    font-size:1.2vw;
    margin-top:60%;
    margin-left:5%;
    font-weight:500;
  }

  .portfolio_image_link {
    color:white;
    fill:white;
    font-size:1vw;
    border: solid 1.5px white;
    border-radius:100px;
    width:10%;
    padding:1.5%;
    margin-top:-3%;
    margin-left:5%;
  }
}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for Desktop and Larger Devices */
@media only screen and (min-width:992px) {

  .portfolio_container {
    margin-top: 15%;
    height: 70vh;
  }

  .portfolio_title {
    font-size: 2vw;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
  }

  .about_line_1 {
    width: 10%;
    height: 0.3%;
    background-color: black;
    position: absolute;
    margin-top: -1%;
    left: 45%;
  }

  .about_line_2 {
    width: 6%;
    height: 0.3%;
    background-color: black;
    position: absolute;
    margin-top: -0.5%;
    left: 47%;
  }

  .portfolio_grid {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 80%;
    margin-left: 13%;
  }


  .image_portfolio {
    position: absolute;
    width: 15%;
    filter: drop-shadow(0px 0px 5px #000000);
    
  }

  .portfolio_hovered{
    position:absolute;
    opacity:0;
    z-index:11;
    border-image: fill 0 linear-gradient(#0001, #000);
    width:15%;
    height:auto;
    padding-bottom:1.5%;
    transition:0.2s ease-in-out
    
  }
  .portfolio_hovered:hover{
    opacity:1;
  }

  .portfolio_image_text {
    color:white;
    font-size:1.2vw;
    margin-top:60%;
    margin-left:5%;
    font-weight:500;
  }

  .portfolio_image_link {
    color:white;
    fill:white;
    font-size:1vw;
    border: solid 1.5px white;
    border-radius:100px;
    width:10%;
    padding:1.5%;
    margin-top:-3%;
    margin-left:5%;
  }
}