/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for Mobile in portrait orientation*/
@media only screen and (max-width: 649px) {}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for Mobile in landscape orientation */
@media only screen and (min-width:650px) and (max-width:993px) and (orientation: landscape) {}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for Desktop and Larger Devices */
@media only screen and (min-width:992px) {

    .service_container {
        margin-top: 8%;
        height: 80vh;
        width:90%;
        box-shadow: 0px 0px 10px 10px rgb(199, 199, 199);
        
        margin-left:5%;
    }

    .service_title {
        font-size: 2vw;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        padding-top:5%;
    }

    .about_line_1 {
        width: 10%;
        height: 0.3%;
        background-color: black;
        position: absolute;
        margin-top: -1%;
        left: 45%;
    }

    .about_line_2 {
        width: 6%;
        height: 0.3%;
        background-color: black;
        position: absolute;
        margin-top: -0.5%;
        left: 47%;
    }

    .service_content_grid{
        display:grid;
        grid-template-columns: 33% 33% 33%;
        margin:5%;
        text-align: center;
        justify-content: center;

    }

    .service_header{
        font-size: 2vw;
        font-weight:500;
        text-align: center;
        font-family: "Open Sans", sans-serif;

    }

    .service_image{
        width:20%;
    }
    .service_text{
        width:80%;
        margin-left:10%;
        font-size:1.2vw;
    }


}